<div class="login-form">
  <form>
    <h1 class="h4 align-middle" titulo>Alocação de Veículos</h1>

    <div class="row">

      <div class="col-md-6">
        <img src="../../../../../arquivos/{{alocacao.Veiculo.strNomeArq}}" style="width:100%; height:90%;" />
      </div>
      <div class="col-md-6">
        <div class="row mb-2"> <h1 class="h4">{{alocacao.Veiculo.strPlaca}} - {{alocacao.Veiculo.strModelo}}</h1> </div>
        <div class="row mb-2">
          <strong>Data Início: {{alocacao.dtInicio | date:'dd-MM-yyyy'}}</strong>
          <strong>Data Fim:
            <input type="date" name="dtfim" id="dtfim" (change)="calcularTotal()"  />
          </strong>
        </div>
        <div class="row mb-2"> <h1 class="h2">{{Total.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}</h1> </div>
        <div class="row mb-2">

          <button class="btn btn-success" (click)="realizaAlocacao()" [disabled]="ativar_spinner" style="width:90px; margin-right:6px">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativar_spinner"></span>
            Atualizar
          </button>

          <button class="btn btn-warning" (click)="cancelarVeiculo()">Cancelar</button>
        </div>
      </div>

    </div>

  </form>

</div>







<div class="invalid-feedback row mb-2" *ngIf="dtfim.invalid && (dtfim.dirty || dtfim.touched)" role="alert">
  <div *ngIf="dtfim.errors.required">
    Data final de alocação deve ser preenchido!
  </div>
</div>


