<h1 class="h4 mb-4" titulo>Pesquisa Veículo</h1>

<button class="btn btn-primary mb-4" (click)="adicionaVeiculo()">Cadastrar Veículo</button>


<table class="table table-hover" *ngIf="veiculos">
  <thead>
    <tr>
      <th>Placa</th>
      <th>Modelo</th>
      <th>Preço</th>
      <th>Imagem</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let v of veiculos">
      <td style="width:20%;">{{v.strPlaca}}</td>
      <td style="width:40%;">{{v.strModelo}}</td>
      <td>{{v.douPreco.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}</td>
      <td> <img style="width:60%; height:30%" src="../../../../../arquivos/{{v.strNomeArq}}" /></td>
      <td><button class="btn btn-warning btn-sm" (click)="editarVeiculo(v)">Editar</button></td>
      <td><button class="btn btn-danger btn-sm" (click)="deletarVeiculo(v)">Excluir</button></td>
    </tr>
  </tbody>


</table>


<p *ngIf="!veiculos">
  carregando veículos
</p>


