<h1 class="h4 mb-4" titulo>Pesquisa Alocações</h1>

<button class="btn btn-primary mb-4" (click)="adicionaAlocacao()">Veículos Alocação</button>


<table class="table table-hover" *ngIf="alocacoes" >
  <thead>
    <tr>
      <th>Placa</th>
      <th>Modelo</th>
      <th>Data Início</th>
      <th>Data Fim</th>
      <th>Preço</th>
      <th>Total</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let a of alocacoes">
      <td style="width:20%;">{{a.UsuarioId}}</td>
      <td style="width:20%;">{{a.VeiculoId}}</td>
      <td style="width:20%;">{{a.dtInicio}}</td>
      <td style="width:20%;">{{a.dtFim}}</td>
      <td></td>
      <td></td>
      <td><button class="btn btn-warning btn-sm" (click)="editarAlocacao(a)" >Editar</button></td>
      <td><button class="btn btn-danger btn-sm" >Excluir</button></td>
    </tr>
  </tbody>


</table>


<p *ngIf="!alocacoes">
  carregando alocações
</p>



